body {
    background: #fafafa;
}

@font-face {
    font-family:african;
    src: url(african.ttf);
}

.dino {
    width: 60px;
    height: 60px;
    background-image:url(dino.png);
    position: absolute;
    bottom: 0;
}

.cactus {
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 0;
    background-image:url(cactus.png);
}

.game-over {
    text-align: center;
    color: #666666;
    margin-top: 80px;
    font-family: african;
}

@keyframes slideright {
    from {
        background-position: 70000%;
    }

    to {
        background-position: 0;
    }
}

.background {
    bottom: 0;
    background-image: url(background.png);
    background-repeat: repeat-x;
    animation: slideright 600s infinite linear;
    width: 100%;
    height: 200px;
    position: absolute;
}

.logo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.botaoStart {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.estiloBotao {
    background: #b80707;
    color: #fff;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 2px 3px 4px #bfbfbf;
    text-shadow:none;
    width: 80px;
    height: 35px;
    font-size: 18px;
    font-family: african;
}

.estiloBotao:hover {
    background: #fc5c5c;
    color: #fff;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow:none;
    width: 80px;
    height: 35px;
    font-family: african;
}

.gameOver {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.botaoRestart {
    display: flex;
    flex-direction:row;
    width: 100%;
    justify-content: center;
    align-items: center;
}

